/* Shared Styles */
img{
    max-width: 100%;
}
body{
    font-family: 'Work Sans', sans-serif;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;   
    border: 0;
    width: 180px;
    display: block;
    margin:32px auto;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
/* Header Section */
.header{
    background: rgba(255, 144, 14, 0.10);
    padding: 45px 150px;
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.nav > ul{
    display: flex;
    align-items: center;
    gap: 25px;
}
.logo{
    color:  #131313;
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}
.nav ul li a{
    color:#424242;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px; /* 144.444% */
}

/* Banner Section */
.banner{

}
.content-section{
    max-width: 862px;
    width: 100%;
    text-align: center;
    margin: auto;
}
.banner-title{
    color:  #131313;
    text-align: center;
    font-size: 64px;
    font-weight: 700;
}
.banner-description{
    color:  #727272;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}

/* main section n */
.main{
    padding: 45px 150px;
}

/* Banner images */
.feture{
    display: flex;
    gap: 76px;
    margin-top: 85px;
}
.feture-image{
    display: grid;
    grid-template-columns:  auto auto;
    gap: 15px;
}
.feture-image img{
    border-radius: 8px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.first-design{
    color:#727272;
    font-size: 45px;
    font-weight: 500;
}
.second-design{
    color: #131313;
    font-weight: 700;
}
.third-design{
    color: #FF900E;
    font-weight: 700;
}
.feture-description{
    color:#727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}

/* Feture Exprience */
.feture-exprience{
    display: flex;
    gap:45px;
    margin-top: 130px;
}
.feture-exprience > div{
        width: 50%;
        gap: 46px;
}
.exprience-commonbox{
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
    margin-top: 20px;
    height: 171px;
}
.exprience-image img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 708px;
    height: 982px;
    position: relative;
}
.exprience-shape {
    position: absolute;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    text-align: center;
    font-size: 35px;
    display: inline-block;
    padding: 0px 42px;
    margin-top: -115px;
    margin-left: -32px;
}
.exprience{
    color: #FFF;
    font-size: 25px;
}
.fexprience-title{
    color:#131313;
    font-size: 45px;
    font-weight: 700;
}
.fexprience-descritpion{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}

/* some facts */
.fact{
    margin-top: 168px;
}

.fact-title{
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}
.fact-description{
    max-width: 542px;
    width: 100%;
    margin-bottom: 50px;
}
.fact-divbox{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 25px;
}
.factbox1{
    width: 241.831px;
    height: 241.831px;
    border-radius: 8px;
    border: 1px solid #FF900E; 
    padding-top: 50px;
}
.cmn-fact-writing{
    color: #424242;
    font-size: 25px;
}
.fact-description{
    color:#727272;
    font-size: 20px;
}

/* sponsor company */
.sponsor{
    margin-top: 180px;
}
.sponsor-main-content{
    text-align: center;
}
.sponsor-company-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    gap:120px;
}
.company1{
    color: #2EBD59;mix-blend-mode: luminosity;
}
.sponsor-title{
    color: #131313;
    font-size: 45px;
}
.sponsor-description{
    width: 542px;
    margin: auto;
    margin-bottom: 50px;
    color: #727272;
    text-align: center;
    font-size: 16px;
    line-height: 26px;
}


/* footer section */
.footer{
    border-radius: 8px;
    background: #FFF4E7;
    margin: 45px 150px;
    padding: 45px;
    text-align: center;
    color:  #424242;
    font-size: 20px;
}

/* Responsive Design */
@media screen and (max-width:576px) {
    .header{
        padding: 10px 20px;
    }
    .nav, .feture{
        flex-direction: column;
        gap: 10px;
    }
    .content-section{
        max-width: 300px;
        text-align: center;
    }
    .feture-content{
        text-align: center;
    }
    .feture-image{
        grid-template-columns: repeat(2, 200px);
        align-items: center;
        justify-content: center;
    }
    .feture-exprience{
        flex-direction: column;
        text-align: center;

    }
    .feture-exprience > div{
        width: 100%;
        gap: 46px;
    }
    .fact-divbox{
        flex-direction: column;
    }
    .factbox1{
        width: 100%;
    }

}

@media screen and (min-width:576px) and (max-width:992px) {
    .header{
        padding: 30px 50px;
    }
    .nav, .feture{
        flex-direction: column;
        gap: 20px;
    }
    .content-section{
        max-width: 500px;
        text-align: center;
    }
    .main{
        padding: 10px 20px;
    }
    .feture-content{
        text-align: center;
    }
    .feture-exprience{
        flex-direction: column;
        text-align: center;

    }
    .feture-exprience > div{
        width: 100%;
        gap: 46px;
    }
    .fact-divbox{
        flex-direction: column;
    }
    .factbox1{
        width: 100%;
    }
}
